<div class="primary-header">
  <h1 contenteditable="true" class="application-name" (change)="alert('test')">Enter application name</h1>
</div>
<div class="parent-content">
  <div class="side-bar">
    <div id="object" class="rectangle rectangle-content" draggable="true" (dragstart)="dragRect($event)">
      <span class="icon-size object-icon" aria-hidden="true"></span>
      <p class="title">Object</p>
    </div>
    <div id="object" class="rectangle rectangle-content" draggable="true" (dragstart)="dragRect($event)">
      <span class="icon-size business-rule-icon" aria-hidden="true"></span>
      <p class="title">Bussiness Rule</p>
    </div>
    <div id="object" class="rectangle rectangle-content" draggable="true" (dragstart)="dragRect($event)">
      <span class="icon-size process-icon" aria-hidden="true"></span>
      <p class="title">Process</p>
    </div>
    <div id="object" class="rectangle rectangle-content" draggable="true" (dragstart)="dragRect($event)">
      <span class="icon-size layoutrule-icon" aria-hidden="true"></span>
      <p class="title">Layout Rule</p>
    </div>
    <div id="object" class="rectangle rectangle-content" draggable="true" (dragstart)="dragRect($event)">
      <span class="icon-size validation-icon" aria-hidden="true"></span>
      <p class="title">Validation</p>
    </div>
  </div>
  <div class="body-content">
    <div *ngFor="let relation of payLoad.relation">
      <div class="line" [style.margin-left]="(224*relation.sourceIndex)+110 + 'px'"></div>
      <div class="line2" [style.width]="(relation.targetIndex-relation.sourceIndex)*224 +'px'" [style.margin-left]="(224*relation.sourceIndex)+110 + 'px'"></div>
      <div class="line3" [style.margin-left]="(224*relation.targetIndex)+110 + 'px'"></div>
    </div>
    <div class="diagram-content" (dragover)="allowDrop($event)" (drop)="drop($event)">
      <div class="object-content">
        <div *ngFor="let object of payLoad.object; let i=index" class="singleObject" [id]="'Object_'+i" (click)="getObjectMeta($event)">
          <div id="object" class="rectangle rectangle-content" draggable="true" (dragstart)="dragRect($event)">
            <span class="icon-size object-icon" aria-hidden="true"></span>
            <p class="title">Object</p>
          </div>
        </div>
      </div>

    </div>
    <div class="property-conent">
      <app-template-property [objectMeta]="objectMeta" (objectName)="getObjectName($event)" (newRelation)="createRelation($event)"></app-template-property>
    </div>
  </div>
</div>