<div class="list-pannel">
  <app-list-of-element></app-list-of-element>
</div>
<div class="schema-pannel" (dragover)="allowDrop($event)" (drop)="appendElement($event)">
  <svg width="100%" height="100%">
    <ng-container [ngSwitch]="typeOfElement">

      <g app-aalobject *ngSwitchCase="'aalObject'" [objectPosition]="userElementDragEvent"></g>


    </ng-container>

  </svg>
  <!-- <app-flow-chart-diagram [draggedElem]="draggedElem"></app-flow-chart-diagram> -->


</div>

<app-view-element-property [viewElementProperty]="dummyPropertyData"></app-view-element-property>