.list-pannel {
    width: 10%;
    float: left;
    border: solid 1px darkorange;
    height: 500px;
}
.schema-pannel {
    width: 80%;
    float: left;
    border: solid 1px darkblue;
    height: 500px;
}
    